@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fff;
  color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 2em auto;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    min-height: 435px;
    flex: 0 0 32.5%;
    align-items: center;
    flex-wrap: no-wrap;
    padding-bottom: 50px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ececec;
    align-self:stretch;
}

.card-img {
    display: flex;
    position: static;
    border-radius: 7px 7px 0 0;
    justify-content: center;
    margin-bottom: 20px;
    padding: 25px 0;
}

img {
  max-width: 200px;
  border-radius: 50%;
  
}

.card-desc {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    flex-direction: column;
}

span {
  color: #1873CC;
  font-weight: lighter;
}

.name {
  font-weight: lighter;
}

.card-btn {
  background: #1873CC;
  box-shadow: rgba(24, 115, 204, 0.32) 0px 5px 9px !important;
  border: none !important;
  border-radius: 10em;
  padding: 20px 45px !important;
  color: white !important;
  font-size: 16px;
  font-weight: 600 !important;
  text-decoration: none !important;
  text-transform: uppercase;
  line-height: normal !important;
  border: none !important;
  -webkit-transition: 0.15s all ease-in-out;
  -moz-transition: 0.15s all ease-in-out;
  -o-transition: 0.15s all ease-in-out;
  transition: 0.15s all;
  text-align: center;
  margin-top: 40px;
  display:block;
}

.job-desc {
    line-height: 3.5;
    font-size: 16px;
    color: #1873CC;
}